.navbar {
  display: flex;
}

.logo {
  height: 2.5rem;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 {
  font-weight: 300;
  margin: 0.7rem 1.6rem;
  color: #54585d;
}

img {
  height: 2.4rem;
  width: auto;
}

hr {
  border: 0.02rem solid #d3d3d3;
  height: 20px;
  margin-left: 1rem;
}

.left-nav {
  display: flex;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  img {
    margin-top: 1rem;
  }

  h4 {
    display: none;
  }
}
